// ----------------------------------------------------------------------
//== Navbar
//
//##
//
// Place appropriate project related styles and overrides here.
// This file must be imported into the bootstrap generators file to override bootstrap defaults.
//
// --------------------------------------------------


body {

  .navbar {
    @include gradient-vertical($white, $gray-lightest);

    .client-navbar-brand {
      float: left;
      height: ($navbar-height - 10px);
      margin: 5px 10px 0 10px;
      padding-right: 10px;
      border-right: 1px solid $gray-lighter;

      img.client-brand-logo {
        // height: 25px;
        margin: 12px 0 0;
        padding: 0;
      }
    }

    .navbar-brand {
      padding-left: 0;
      font-weight: normal;
    }

    .navbar-nav > li > a {
      font-size: $font-size-smaller;
      font-weight: bold;
      text-transform: uppercase;
    }

    .navbar-nav > li.disabled > a {
      font-weight: normal;
    }

    // additional spacing for preceding icons
    li > a i.fa {
      padding-right: 4px;
    }

    // custom code for important alert call-out
    li.alerts-campaign > a {
      color: $brand-danger;
    }


    // When referencing these media query variables, also search for
    // "Navbar collapse" in the "baseline-sitewide.css.scss" file

    /* Right align navigation when not collapsed */    
    @media (min-width: $screen-md) {

      .navbar-nav {
        float: right;
      }
    }

    /* Addition of collapsed navbar divider lines */
    @media (max-width: $screen-md) {

      .navbar-nav {
        padding-top: 0;
        padding-bottom: 0;

        > li {
          border-bottom: 1px solid $table-border-color;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}