%br
.container
  .row
    .col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-body
          %h3
            %i.fa.fa-warning.text-danger
            Sorry, we don't support your browser.
          %h4
            But don't fret, you can go to 
            %a{href:  "http://browsehappy.com?locale=en", class: "text-danger"} Browse Happy
            and get a free upgrade.
